<!DOCTYPE html>
<html>
  <head>
    <title>AdminApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>User Zone Template</h1>
    <h1>Welcome <%= current_user.email %></h1>
    <br>
    <%= image_tag current_user.avatar.url(:thumb) %>
    <br>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <a href="/">Home</a>
    <a href="/users/things">Things</a>
    <a href="/users/logout">Logout</a>

    <%= yield %>
    <br>
    <a href="/admins/login">Admin Login</a>
  </body>
</html>
